// Breadcrumb
.breadcrumbUl {
  padding: 12px 0;
  font-size: 14px;
  @include media(992, 1199) {
    padding: 10px 0;
    font-size: 13px;
  }
  .breadcrumbItem {
    .breadcrumbLink {
      color: $color-dark;
      transition: 0.2s;
      opacity: 0.6;
      &:hover {
        color: $color-orange;
      }
      &::before {
        content: ">";
        color: $color-dark;
        margin: 0 8px;
      }
      &.active {
        opacity: 1;
      }
    }
    &:first-child .breadcrumbLink::before {
      content: none;
    }
  }
}
