@import "mediaQuery";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $text-poppins;
  //  font-family: 'Sintony', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  color: $color-grey;
}

.row {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 80px;
}

.img-fluid {
  max-height: 100%;
  max-width: 100%;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.pointer{
  cursor: pointer;
}

.text-center{
  text-align: center;
}

.mt10{
  margin-top: 10px;
}

@include media(1400, 1600) {
  .container {
    margin: 0 70px;
  }
}
@include media(1200, 1399) {
  body {
    font-size: 14px;
  }
  .container {
    margin: 0 50px;
  }
}
@include media(992, 1199) {
  body {
    font-size: 14px;
  }
  .container {
    margin: 0 30px;
  }
}
