@import "mediaQuery";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $text-poppins;
  //  font-family: 'Sintony', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  color: $color-grey;
}

.row {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 70px;
}

.img-fluid {
  max-height: 100%;
  max-width: 100%;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

.fw-bold {
  font-weight: bold;
}
.fw-medium {
  font-weight: 500;
}

@include media(1400, 1600) {
  .container {
    margin: 0 60px;
  }
}
@include media(1200, 1399) {
  body {
    font-size: 14px;
  }
  .container {
    margin: 0 40px;
  }
}
@include media(992, 1199) {
  body {
    font-size: 14px;
  }
  .container {
    margin: 0 15px;
  }
}
@include media(720, 991) {
  body {
    font-size: 12px;
  }
  .container {
    margin: 0 10px;
  }
}

// Premier Plylam Marketing Company
// Vishwakarma Industrial Area, Jaipur, Rajasthan
// 4.4/5 ★★★★★
// ★★★★★
//  (60)
// GST- 08AAPFP7479P1ZY
// Leading Supplier
// TrustSEAL Verified
// Distributor / Channel Partner
// Company Video
//  View Mobile Number
// 70% Response Rate
// Contact Supplier
// View More Sellers
