@function imageItem($value, $item) {
  @return ($value / $item);
}

.productView {
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 25% auto 25%;
  gap: 20px;
  @include media(1400, 1699) {
    grid-template-columns: 28% auto 28%;
  }
  @include media(1200, 1399) {
    grid-template-columns: 28% auto 28%;
    gap: 14px;
  }
  @include media(992, 1199) {
    grid-template-columns: 30% auto 28%;
    gap: 8px;
  }
  @include media(720, 991) {
    grid-template-columns: 50% auto 28%;
    gap: 8px;
  }

  .productImage {
    .pro_image {
      position: sticky;
      top: 70px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include mediaMax(1399) {
        top: 64px;
      }
    }
    .mainImage {
      background-color: $color-lightBlue;
      border-radius: 8px;
      border: 1px solid $color-lightDark;
      aspect-ratio: 1;
      display: grid;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      #ProductMainImage {
        position: relative;
        z-index: 1;
      }
      .fix-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(100px);
        z-index: -1;
      }
    }

    .imageSlider {
      display: flex;
      gap: 10px;
      overflow-x: scroll;
      padding-bottom: 10px;
      .imageItem {
        min-width: imageItem(100%, 5);
        border-radius: 8px;
        aspect-ratio: 1;
        background-color: $color-lightBlue;
        border: 1px solid $color-lightDark;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(1200, 1399) {
          min-width: imageItem(100%, 4.5);
        }
        @include media(992, 1199) {
          min-width: imageItem(100%, 4.5);
        }
        // padding: 10px;
        &.active {
          border-color: $color-orange;
        }
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
      &::-webkit-scrollbar {
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background-color: $color-lightBlue;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-orange;
        border-radius: 10px;
      }
    }
  }

  // product Images
  .productDetails {
    .product_Name {
      color: $color-dark;
      font-family: $text-sintony;
      font-size: 20px;
      margin-bottom: 4px;
      @include media(1200, 1399) {
        font-size: 18px;
      }
      @include media(992, 1199) {
        font-size: 16px;
      }
    }
    .price_glp {
      margin-bottom: 10px;
      // border-bottom: 1px solid $color-lightDark;
      gap: 10px;
      align-items: end;
      .product_price {
        font-family: $text-sintony;
        color: $color-dark;
        font-size: 26px;
        transition: 0.3s;
        @include media(1200, 1399) {
          font-size: 24px;
        }
        @include media(992, 1199) {
          font-size: 20px;
        }
        &:hover {
          color: darken($color-orange, 9);
        }
        &::before {
          content: "₹";
          margin-right: 6px;
        }
      }
      .latest_price {
        cursor: pointer;
        font-size: 18px;
        color: $color-orange;
        font-weight: 500;
        @include media(1200, 1399) {
          font-size: 16px;
        }
        @include media(992, 1199) {
          font-size: 14px;
        }
        &:hover {
          color: $color-primary;
        }
      }
    }
    // .line {
    //   margin: 10px 0;
    //   background-color: $color-lightDark;
    //   height: 1px;
    //   display: block;
    // }

    .pro_description {
      .pro_desc_Table {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid lighten($color-grey, 30);

        table {
          width: 100%;
          text-align: left;
          border-collapse: collapse;
          th,
          td {
            padding: 8px;
            @include media(992, 1199) {
              padding: 4px 6px;
            }
          }
          tr {
            border-top: 1px solid lighten($color-grey, 30);
            &:first-child {
              border-top: none;
            }
            th {
              width: 35%;
              border-right: 1px solid lighten($color-grey, 30);
              font-weight: 500;
            }
          }
        }
      }

      .pro_desc_p {
        margin: 10px 0 5px 0;
        @include line_clamp(4);
      }

      .View_Details {
        font-weight: 600;
        color: $color-primary;
        gap: 4px;
        transition: 0.3s;
        &:hover {
          color: $color-orange;
          gap: 10px;
        }
      }

      .get_latest_price button {
        width: 300px;
        padding: 15px 20px;
        @include themeBtn(10px);
        position: relative;
        z-index: 5;
        overflow: hidden;
        transition: 0.5s;
        @include media(992, 1199) {
          padding: 10px 20px;
          width: 250px;
        }

        p {
          font-weight: 600;
          font-size: 20px;
          @include media(992, 1199) {
            font-size: 18px;
          }
        }
        span {
          font-size: 14px;
          @include media(992, 1199) {
            font-size: 12px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0;
          height: 0;
          background-color: $color-lightBlue;
          transform: translate(-50%, -50%);
          z-index: -1;
          transition: 0.5s;
          border-radius: 50%;
        }
        &:hover {
          color: $color-primary;
        }
        &:hover::after {
          width: 400px;
          height: 400px;
        }
      }
    }
  }

  // product_Company_card
  .product_Company_card {
    .Company_card {
      border: 1px solid lighten($color-grey, 30);
      padding: 10px;
      border-radius: 8px;
      @include media(992, 1199) {
        padding: 8px;
        font-size: 12px;
      }
      .hrLine {
        @include hrLine($color-lightDark, 15px);
        @include media(1200, 1399) {
          @include hrLine($color-lightDark, 12px);
        }
        @include media(992, 1199) {
          @include hrLine($color-lightDark, 12px);
        }
      }
      .company_name {
        color: $color-dark;
      }

      .logo_Address {
        grid-template-columns: 100px auto;
        gap: 14px;

        @include media(1200, 1699) {
          grid-template-columns: 80px auto;
          gap: 12px;
        }
        @include media(992, 1199) {
          grid-template-columns: 70px auto;
          gap: 8px;
        }
        .logo_div {
          padding: 5px;
          border-radius: 8px;
          border: 1px solid $color-lightDark;
        }

        .Address_rate_Gst {
          gap: 5px;
          .Address {
            grid-template-columns: 15px auto;
            gap: 8px;
            color: $color-dark;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            p {
              @include line_clamp(2);
            }
            @include media(992, 1199) {
              font-size: 12px;
            }
          }

          .rate_star {
            gap: 10px;
            @include media(992, 1199) {
              gap: 6px;
            }
            .rate {
              color: $color-dark;
              &:after {
                content: "/5";
                color: $color-grey;
                font-size: 16px;
                @include media(992, 1199) {
                  font-size: 12px;
                }
              }
            }

            .star {
              font-size: 20px;
              color: $color-orange;
              @include media(992, 1199) {
                font-size: 16px;
              }
            }
          }
          .gst {
            @extend .Address;
          }
        }
      }
    }

    .company_tags {
      flex-wrap: wrap;
      gap: 8px 0;
      .tag_item {
        $width: 20px;
        min-width: 49%;
        grid-template-columns: $width auto;
        gap: 10px;
        align-items: center;
        @include media(1200, 1399) {
          $width: 16px;
          grid-template-columns: $width auto;
          gap: 6px;
        }
        @include media(992, 1199) {
          $width: 16px;
          grid-template-columns: $width auto;
          gap: 4px;
          font-size: 12px;
        }
        .icon {
          border-radius: 50%;
          overflow: hidden;
          height: $width;
          width: $width;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .View_mobile_number {
      max-width: 300px;
      margin: 0 auto;
      height: 56px;
      background-color: lighten($color-dark, 86);
      border-radius: 8px;
      @include media(1400, 1699) {
        max-width: 100%;
      }
      .vmn_text {
        gap: 8px;
        color: $color-primary;
      }
      .ResponseRate {
        margin-top: -2px;
      }
    }
  }
}
