/* Top Header */
@import "mediaQuery";
header {
  height: 60px;
  @include media(992, 1199) {
    height: 52px;
  }
  @include media(1200, 1399) {
    height: 54px;
  }
  .top-header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: $color-primary;
    color: $color-lightBlue;
    @include media(992, 1199) {
      height: 52px;
    }
    @include media(1200, 1399) {
      height: 54px;
    }

    .nav-ul {
      padding: 10px 0;
      grid-gap: 20px;
      grid-template-columns: 70% auto;
      @include media(1200, 1399) {
        grid-gap: 15px;
        grid-template-columns: 65% auto;
      }
      @include media(992, 1199) {
        grid-gap: 10px;
        grid-template-columns: 60% auto;
      }

      .left-nav {
        // width: 50%;
        grid-template-columns: 170px auto;
        grid-gap: 20px;
        @include media(1200, 1399) {
          grid-template-columns: 140px auto;
          grid-gap: 15px;
        }
        @include media(992, 1199) {
          grid-template-columns: 40px auto;
          grid-gap: 10px;
        }
        .logo-li {
          // width: 170px;

          .nav-logo,
          .nav-logo img {
            max-height: 40px;
          }
        }

        .nav-search {
          // width: 30%;
          grid-template-columns: 140px auto 140px;
          grid-gap: 16px;
          @include media(1200, 1399) {
            grid-template-columns: 110px auto 120px;
            grid-gap: 10px;
          }
          @include media(992, 1199) {
            grid-template-columns: 100px auto 114px;
            grid-gap: 10px;
          }
          #cit-drop {
            width: 100%;
            border-radius: 50px;
            border: 1px solid $color-lightBlue;
            padding: 4px 10px;
            position: relative;
            grid-gap: 8px;

            .ri-map-pin-fill {
              color: $color-lightBlue;
            }

            .ri-arrow-down-s-fill {
              color: $color-lightBlue;
              position: absolute;
              top: 50%;
              right: 10px;
              transform: translateY(-50%);
              font-size: 20px;

              @include media(1200, 1399) {
                right: 8px;
              }
              @include media(992, 1199) {
                right: 8px;
              }
            }
          }

          #searchBar {
            position: relative;
            input {
              border: 1px solid $color-lightBlue;
              border-radius: 50px;
              width: 100%;
              height: 100%;
              outline: none;
              padding: 0 40px;
              background-color: transparent;
              color: $color-lightBlue;
              font-size: 18px;
              @include media(1200, 1399) {
                padding: 0 30px;
              }
              @include media(992, 1199) {
                padding: 0 30px;
              }

              &::-webkit-search-cancel-button {
                -webkit-appearance: none;
              }
            }
            i {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              font-size: 18px;
              color: $color-lightBlue;
              cursor: pointer;
              @include media(1200, 1399) {
                font-size: 16px;
              }
              @include media(992, 1199) {
                font-size: 14px;
              }

              &.ri-search-2-line {
                left: 14px;
                @include media(1200, 1399) {
                  left: 10px;
                }
                @include media(992, 1199) {
                  left: 8px;
                }
              }

              &.ri-mic-line {
                right: 14px;
                @include media(1200, 1399) {
                  right: 10px;
                }
                @include media(992, 1199) {
                  right: 8px;
                }
              }
            }
          }

          .getBestPrice {
            color: $color-primary;
            border-radius: 50px;
            font-weight: 600;
            background-color: $color-lightBlue;
            border: 1px solid $color-lightBlue;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: transparent;
              color: $color-lightBlue;
            }

            @include media(1200, 1399) {
              font-size: 14px;
            }
            @include media(992, 1199) {
              font-size: 14px;
            }
          }
        }
      }

      .right-ul {
        .nav {
          grid-gap: 20px;
          .nav-link {
            text-transform: capitalize;
            color: $color-lightBlue;
            padding: 5px 0;
            transition: 0.4s;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 3px;
              border-radius: 10px;
              position: absolute;
              left: 50%;
              bottom: -2px;
              transform: translateX(-50%) scale(0);
              background-color: $color-lightBlue;
              transition: 0.4s;
            }
            &:hover {
              color: $color-lightBlue;
              &::after {
                transform: translateX(-50%) scale(1);
              }
            }
          }
        }
      }
    }
  }
}

// https://www.enverstudio.com/hiring

// https://dribbble.com/shots/20285141-Tokogadget-Gadget-Marketplace-Website
// https://dribbble.com/shots/19766476-Website-Marketplace-Concept-Product-Details
