/* Color vairable */

$text-poppins: "Poppins", sans-serif;
$text-sintony: "Sintony", sans-serif;
$color-primary: #003376;
$color-orange: #ee6c4d;
$color-lightBlue: #ecf2ff;
$color-dark: #141a23;
$color-lightDark: #acacac;
$color-white: #ecf2ff;
$color-grey: #646464;
